body{
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-text-100);
}

.d-flexs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
font-family: 'Rambla';
font-style: normal;
font-weight: 700;
font-size: 3.188rem;
line-height: 3.875rem;
letter-spacing: 0.06em;
}

.paragraph{
width: 530px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.875rem;
line-height: 2.813rem;
letter-spacing: 0.06em;

}
.header-img img{
    width: 500px;

}